.switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    flex: 1;
    cursor: pointer;
    color: rgba(133, 133, 133, 0.9);
}

.switcher-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.4s;
    :hover {
        color:rgba(188, 188, 188, 0.9);
    }
}