.button {
    margin: 10px 25px;
    font-size: 19px;
    border-radius: 12px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: 'Calibri', sans-serif;
    transition: background-color .25s;
}

.button:hover {
    background-color: rgb(63, 59, 59);
    color:rgb(91, 98, 233);
}