.modal-overlay {
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    color: black;
    background-color: #ffffff;
    border: 1px solid #bebebe;
    border-radius: 2px;
    padding: 12px 16px;
}