.weeks {
    display: flex;
    .week {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        flex: 1;
        height: 50px;
        border: 1px solid rgb(82, 82, 82, 0.5);
    }
}