$box-border-color: #f3f4ff;

.task-row {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid rgb(82, 82, 82, 0.5);
    transition: border-color 0.3s ease-in;
    &:hover {
        border-color: $box-border-color;
        box-shadow: 0px 0px 3px $box-border-color;
    }
}

.day {
    height: 20px;
    flex: 1;
    box-sizing: border-box;
}

.scheduled {
    background-color: rgb(255, 255, 199);
}