.skeleton-board {
    width: 55%;
    margin: 0 auto 20px auto;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    border: none;
    animation: color-change-anim 2s infinite;
}