
.tooltip {
  background-color: rgb(22, 22, 22);
  position: absolute;
  color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 12px;
  left: 0;
  right: 0;
  margin: 10px auto;
  width: 200px;
  border: 1px solid rgb(255, 255, 255);
}

.tooltip-task-name {
  margin: 5px 0;
  font-size: 22px;
}

.tooltip-dates {
  margin: 5px 0;
  font-weight: 700;
}

.tooltip-arrow {
  position: absolute;
  top: -5px;
  left: 46%;
  border-left:5px solid transparent;
  border-right:5px solid transparent; 
  border-bottom:5px solid rgb(255, 255, 255);
  content: "";
}