#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
}
  @keyframes color-change-anim {
    0% {
        background-color: #2a2a2a;
    }

    50% {
        background-color: #151515;
    }

    100% {
        background-color: #2a2a2a;
    }
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 900px;
    
    .table-head {
        min-width: 290px;
        height: 0;
        padding: 0;
    }

    .roof-top {
        display: flex;
        justify-content: center;
    }
}