$border-color: rgb(100, 100, 100);
$min-cell-width: 16px;
$min-cell-height: 27px;
$white-space-normal: normal;
$overflow-hidden: hidden;


@mixin modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(57, 57, 57);
}

@mixin modal-content($modal-type) {
    @if $modal-type == "create" {
        background: linear-gradient(rgb(31,50,82), rgb(44, 24, 62));
    } @else if $modal-type == "update" {
        background: linear-gradient(to bottom,rgb(44, 24, 62), rgb(27, 47, 83));
    } @else {
        background: linear-gradient(rgb(41, 17, 62), rgb(18, 34, 64));
    }
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 30%;
    min-height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;

    label {
        margin: 10px 0 0 0;
        text-align: left;
        color: rgb(151, 151, 151);
        letter-spacing: 1.5px;
        font-size: large;
    }

    .modal-head {
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        padding: 25px 40px;
        .close {
            cursor: pointer;
        }
    }

    .modal-form {
        display: flex;
        flex-direction: column;
        padding: 30px 40px;
    }

    .modal-title {
        font-weight: 800;
        font-size: 30px;
        text-align: center;
    }
        
    .modal-buttons {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .modal-input {
        width: 100%;
        margin: 5px 0;
        @include input-modal(transparent, rgb(72, 72, 72), "text");
    }

    .modal-button {
        @include button-modal(transparent, rgb(201, 201, 201), 1.5rem, 0.625rem);
    }
}

@mixin input-modal($background-color, $text-color, $input-type) {
    border: 1px solid #1d253b80;
    background-color: $background-color;
    color: white;
    padding: 10px 16px;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    position: relative;

    @if $input-type == "date" {
        @include input-focus-animation;
    } @else {
        @include alt-input-focus-animation;
    }
}

@mixin input-focus-animation {
    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: white;
        transition: all 0.3s ease;
    }

    &::before {
        left: 50%;
        transform: translateX(-50%);
    }

    &::after {
        right: 50%;
        transform: translateX(50%);
    }

    &:focus {
        outline: none;
        &::before,
        &::after {
            width: 100%;
        }
    }
}

@mixin alt-input-focus-animation {
    background-image: linear-gradient(white, white);
    background-size: 0 2px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .3s ease;
    &:focus {
        outline: none;
        background-size: 100% 2px, auto;
    }
}

@mixin button-modal($background-color, $text-color, $padding-x, $padding-y) {
    display: inline-block;
    padding: $padding-y $padding-x,;
    border: 1px solid $border-color;
    border-radius: 0.5rem;
    background-color: $background-color;
    color: $text-color;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;

    &:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
        background: linear-gradient(rgb(27, 45, 76), rgb(37, 18, 54));
        color:white;
    }

    &:focus {
      outline: none;
    }
}